  Body {
        background-image: url('bg cars.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        margin: 0px;
    }
    .navbar ul{
      list-style-type: none;
      background-color: rgb(155, 148, 148);
      padding: 0px;
      margin: 0px;
      overflow: hidden;
    }
    .navbar a{
      color: rgb(255, 255, 255);
      text-align: center;
      text-decoration: none;
      padding: 15px;
      display: inline-block;
    }
.navbar a:hover{
  background-color: rgb(155, 2, 2);
}
.navbar{
  background-color: grey;
  text-align: center;
  font-size: x-large;
}
.container{
  margin: 15px;
  display: flex;
  justify-content: center;
    align-items: center;
    height: 50vh;
    flex-wrap: wrap;
    column-gap: 12rem;
    row-gap: 5rem;
   
}
.box{
   width: auto;
    height: 250px;
    border-radius: 5px;
}
.card{
  height: 200px;
  width: 300px;
  border-radius: 5px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
 height: 100px;
 width: 150px;
}
.textsale{
  color: rgb(235, 226, 226);
  text-align: center;
  margin: 0%;
  padding: 0%;
  text-shadow: 2px 2px black;
}
.aboutcontainer{
  display:flex ;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  column-gap: 2rem;
  flex-wrap: wrap;
  
}
.about1{
  height: auto;
  width: 400px;
  margin: 4px;
}
.about2{
  height: auto;
  width: 400px;
}
.about3{
  height: auto;
  width: 400px;
}
.about4{
  height: auto;
  width: 400px;
}
.textabout1{
  color: white;
  text-align: justify;
  font-size: 2rem;
}
.textabout{
  color: white;
  text-align: justify;
  font-size: medium;
}
h1{
  text-align: center;
  color: white;
}
.Texthelp{
  color: white;
  font-size: 25px;
  
}
.texthelp2{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.containercontact{
  color: white;
  
  
}
input {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
}
textarea{
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

input:focus-within{
outline: none;
border-color: #5bd183;
border-width: 3px;
}
textarea:focus-within{
outline: none;
border-color: #5bd183;
border-width: 3px;
}
button{
  background-color: #5bd183;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;
}
button:hover{
  opacity: 80%;
  cursor: pointer;
}
.tags{
display: flex;
justify-content: center;
font-size: 22px;
}
a.tags1 {
  color: rgb(0, 255, 13);
}
.supportuss{
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.pageimg{
  align-items: center;
  align-content: center;
height: 80%;
width: 50%;
}
.page{
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: rgb(0, 255, 13);
}